@font-face {
    font-family: Roboto-Medium;
    src: url("$lib/assets/fonts/Roboto-Medium.ttf") format('truetype');
  }

html {
    height: 100%;
    width: 100%;
	margin: 0;
}

body {
    height: 100%;
    width: 100%;
	margin: 0;
}

* {
    font-family: Roboto-Medium, sans-serif;
}